@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: 'Sora', sans-serif;
}

body {
  font-family: var(--font-sora);
}

@layer utilities {
  .font-mono {
    font-family: 'JetBrains Mono', 'Fira Code', monospace;
  }
}
